body {
  margin: 0px;
  padding: 0px;
  color: rgb(255, 0, 157);
  font-family: Arial, Helvetica, sans-serif;
}
.container-home {
  width: 100%;
  height: 10000px;
}
.navigation {
  display: flex;
  width: 100%;
  height: 70px;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  z-index: 999;

  position: absolute;
}
.navigation-middle {
  margin-left: 10%;
  margin-right: 10%;
  display: flex;
  width: 100%;
  height: 60px;
  align-items: center;
  flex-direction: row;

  justify-content: space-between;
}
.navigation-logo {
  font-size: 45px;
  font-weight: bold;
}
.link-nav a {
  color: rgb(255, 0, 157);
  /* color: white; */
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 23px;
  border-radius: 20%;
  font-weight: bold;
}
.link-nav a:hover {
  font-weight: bolder;
  background-color: #ddd;
  color: black;
  transition: cubic-bezier(0.19, 1, 0.22, 1) 1.5s;
}
.dropmenu {
  position: relative;
  display: inline-block;
}
.dropmenu-content {
  position: absolute;
  display: none;
  background: white;
  min-width: 107px;
  z-index: 1;
  border-radius: 10px;
}
.dropmenu-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}
.dropmenu:hover .dropmenu-content {
  display: block;
}
.theme {
  margin-right: 30px;
  font-size: 25px;
}

.but_theme {
  background: white;
}
.login-registry {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-right: 50px;
  width: 250px;
}
.btn-registry {
  text-decoration: none;
  padding: 15px 15px;
  border-radius: 5px;
  background: rgb(55, 0, 255);
  box-shadow: 0 -3px rgb(0, 8, 77) inset;
  transition: 0.2s;
  box-shadow: 0 -3px rgb(12, 0, 56) inset;
}
.btn-registry:hover {
  background: rgb(63, 26, 163);
  box-shadow: 0 3px rgb(12, 0, 56) inset;
}
.btn-registry:active {
  background: rgb(36, 4, 150);
  box-shadow: 0 3px rgb(12, 0, 56) inset;
}
.btn-registry a {
  text-decoration: none;
  color: white;
  font-weight: 700;
  color: rgb(255, 0, 157);
}
.btn-login {
  font-weight: 700;
  color: rgb(255, 0, 157);
  text-decoration: none;
  padding: 15px 15px;
  border-radius: 5px;
  background: rgb(55, 0, 255);
  box-shadow: 0 -3px rgb(0, 8, 77) inset;
  transition: 0.2s;
}
.btn-login:hover {
  background: rgb(63, 26, 163);
  box-shadow: 0 3px rgb(12, 0, 56) inset;
}
.btn-login:active {
  background: rgb(36, 4, 150);
  box-shadow: 0 -3px rgb(12, 0, 56) inset;
}
#slides {
  position: fixed;
  padding: 0px;
  margin: 0px;
  list-style-type: none;
  background-repeat: no-repeat;
  height: 100vh;
  z-index: -9999;
  width: 100vw;
}
.slide {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  opacity: 0;
  z-index: 1;
  -webkit-transition: opacity 2s;
  -moz-transition: opacity 2s;
  -o-transition: opacity 2s;
  transition: opacity 2s;
}
.showing {
  opacity: 1;
  z-index: 2;
}
.slide-button {
  background-color: blue;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 15px;
  box-shadow: 0 -3px rgb(12, 0, 56) inset;
}
.slide-button:hover {
  background: rgb(2, 0, 116);
  transition: cubic-bezier(0.075, 0.82, 0.165, 1) 1s;
  color: rgb(255, 255, 255);
  box-shadow: 0 3px rgb(16, 0, 73) inset;
}
.slide {
  font-size: 40px;
  padding: 40px;
  box-sizing: border-box;
  background: #333;
  color: #fff;
}
.slide:nth-of-type(1) {
  background-image: url("https://s0.rbk.ru/v6_top_pics/media/img/6/03/756148808557036.jpg");
  background-size: 100vw 100vh;

  background-repeat: no-repeat;
}
.slide:nth-of-type(2) {
  background-image: url("https://s-cdn.sportbox.ru/images/styles/upload/fp_fotos/80/47/6187098cbe91d21a0d9f65618e6632f0598b56f42fb9b796968682.jpg");
  background-repeat: no-repeat;
  background-size: 100vw 100vh;
}
.slide:nth-of-type(3) {
  background-image: url("https://kyiv.comments.ua/img/publications/baYJTWgPxl_47Qffj75ceGgjaauK8t-k.jpeg");
  background-size: 100vw 100vh;
  background-repeat: no-repeat;
}
.slide:nth-of-type(4) {
  background-image: url("https://www.neuro-insight.com/wp-content/uploads/2011/05/Award2.jpg");
  background-size: 100vw 100vh;
  background-repeat: no-repeat;
}
.slide:nth-of-type(5) {
  background-image: url("https://cdn.unitycms.io/image/ocroped/2001,2000,1000,1000,0,0/m97KsgCdrtA/7At_ZYsfq30BOWQlhhS4H1.jpg");
  background-size: 100vw 100vh;
  background-repeat: no-repeat;
}
.slide:nth-of-type(6) {
  background-image: url("https://alphalytics.tech/wp-content/uploads/2021/03/AdobeStock_294391670.jpeg");
  background-size: 100vw 100vh;
  background-repeat: no-repeat;
}
.slide:nth-of-type(7) {
  background-image: url("https://cdn.shazoo.ru/349799_c0QRuDtqMV_esports.jpg");
  background-size: 100vw 100vh;
  background-repeat: no-repeat;
}

.slide-title {
  color: white;
}
.slide-desc {
  margin: 0 auto;
  position: absolute;
  /* top:300px;  */
  top: 225px;
  font-family: Courier, monospace;
  font-size: 70px;
  font-weight: bolder;
  width: 100%;
  /* left: 350px; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: rgb(255, 0, 170);
  z-index: 9999;
}
.container-info__our-advantages {
  /* top:1000px; */
  top: 750px;
  position: relative;
  width: 100%;
  height: 900px;
  background-color: #2c2c2c;
}
.our-advantages__title {
  padding-top: 100px;
  display: flex;
  justify-content: center;
  font-size: 75px;
  color: rgb(255, 0, 157);
}
.our-advantage__ul {
  font-size: 30px;
  list-style: none;
}
.our-advantage__ul-li {
  padding-top: 70px;
  color: #a11adf;
  font-weight: bold;
}
.our-advantage__ul-li:before {
  margin-top: 15px;
  position: absolute;
  width: 9px;
  height: 9px;
  border-radius: 50%;
  background: #4f5151;
  content: "";
  left: 0;
  transition: 0.3s ease-in-out;
}
.our-advantage__ul-li:after {
  position: absolute;
  border-left: 1px dotted #4f5151;
  width: 1px;
  bottom: -12px;
  content: "";
  left: 3px;
}
.our-advantage__ul-li:hover:before {
  box-shadow: 0 0 0 10px rgba(0, 0, 0, 0.2);
}
.our-advantage__ul-li:last-child:after {
  content: none;
}
.our-advantage__img {
  padding-left: 100px;
  padding-top: 130px;
  width: 700px;
  height: 500px;
  border-radius: 7px;
}
.block__line-our-advantage {
  display: flex;
  flex-direction: row;
}
.container-info__our-partners {
  margin-top: 850px;
  position: relative;
  width: 100%;
  height: 900px;
}
.our-partners__title {
  padding-top: 100px;
  display: flex;
  justify-content: center;
  font-family: Courier, monospace;
  font-size: 70px;
  font-weight: bolder;
}
.img-partners-wrap1 {
  align-items: center;
  height: 300px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.partners {
  width: 300px;
  height: 200px;
}
.our-partners__indent-1 {
  margin-top: 50px;
}
.img-partners-wrap2 {
  align-items: center;
  height: 300px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.our-partners__size-1 {
  width: 200px;
  height: 70px;
}
.our-partners__size-2 {
  width: 250px;
  height: 70px;
}
.our-partners__size-3 {
  width: 220px;
  height: 220px;
}
.our-partners__size-4 {
  width: 100px;
  height: 80px;
}
.our-partners__size-5 {
  width: 170px;
  height: 120px;
}
.container-info__events {
  top: 50px;
  position: relative;
  width: 100%;
  height: 600px;
  background-color: #2c2c2c;
}
.events__title {
  padding-top: 100px;
  display: flex;
  justify-content: center;
  font-size: 75px;
  color: rgb(233, 13, 196);
}
.events__middle {
  width: 100%;
  height: 500px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
.event-1 {
  width: 400px;
  height: 250px;
  background-image: url("https://s0.rbk.ru/v6_top_pics/media/img/6/03/756148808557036.jpg");
  background-size: 100%;
  opacity: 0.1;
  border-radius: 4%;
}
.event-2 {
  width: 400px;
  height: 250px;
  background-image: url("https://s0.rbk.ru/v6_top_pics/media/img/6/03/756148808557036.jpg");
  background-size: 100%;
  opacity: 0.1;
  border-radius: 4%;
}
.event-3 {
  width: 400px;
  height: 250px;
  background-image: url("https://s0.rbk.ru/v6_top_pics/media/img/6/03/756148808557036.jpg");
  background-size: 100%;
  opacity: 0.1;
  border-radius: 4%;
}
.event-desc__subtitle {
  font-weight: bold;
  font-size: 15px;
  text-align: center;
}
.event-desc__title {
  color: rgb(201, 0, 191);
  font-weight: bolder;
  font-size: 25px;
}
.event__desc {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 400px;
  height: 250px;
  top: 300px;
}
/* Cделать наоборот */
.event-1__hover:hover > .event__desc:not(.event-1) {
  display: none;
}

.event-1__hover:hover > .event-1:not(.event__desc) {
  opacity: 1;
  transition: cubic-bezier(0.215, 0.61, 0.355, 1) 3s;
}
.event-2__hover:hover > .event__desc:not(.event-2) {
  display: none;
}
.event-2__hover:hover > .event-2:not(.event__desc) {
  opacity: 1;
  transition: cubic-bezier(0.215, 0.61, 0.355, 1) 3s;
}
.event-3__hover:hover > .event__desc:not(.event-3) {
  display: none;
}
.event-3__hover:hover > .event-3:not(.event__desc) {
  opacity: 1;
  transition: cubic-bezier(0.215, 0.61, 0.355, 1) 3s;
}
.btn-readmore a {
  margin-left: 120px;
  text-decoration: none;
  color: rgb(247, 0, 255);
}
.btn-readmore a:hover {
  color: rgb(73, 0, 141);
  transition: cubic-bezier(0.075, 0.82, 0.165, 1) 1s;
}

.container-info__our-targets {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 300px;
  height: 4000px;
  width: 100%;
}

.our-targets__title {
  padding: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(255, 62, 191);
  font-weight: bolder;
  font-size: 70px;
}
.our-targets__middle {
  width: 80%;
  height: 1000px;
}

.target-1-block {
  background-color: rgb(255, 0, 157);
  border: white 2px solid;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 500px;
  height: 500px;
}
.target-1-desc {
  color: rgb(228, 228, 228);
  display: flex;
  align-items: center;
  font-size: 25px;
  font-weight: bold;
  width: 500px;
  height: 500px;
}
.targets__row-1 {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.target-1-block__title {
  color: white;


  font-size: 80px;
}
.target-1-block__subtitle {
  color: white;

  font-size: 30px;
  text-align: center;
}
.target-2-block:hover,.target-4-block:hover{
  -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.7);
  -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.7);
  box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.7);
  transition: cubic-bezier(0.075, 0.82, 0.165, 1) 3ss;
}

.target-1-block:hover,.target-3-block:hover{
  -webkit-box-shadow: -8px 10px 5px 0px rgba(0,0,0,0.75);
-moz-box-shadow: -8px 10px 5px 0px rgba(0,0,0,0.75);
box-shadow: -8px 10px 5px 0px rgba(0,0,0,0.75);
transition: cubic-bezier(0.075, 0.82, 0.165, 1) 3s;
}
.target-2-block {
  background-color: rgb(255, 0, 157);
  border: white 2px solid;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 500px;
  height: 500px;
 

}
.target-2-desc {
  color: rgb(228, 228, 228);
  display: flex;
  align-items: center;
  font-size: 25px;
  font-weight: bold;
  width: 500px;
  height: 500px;
}
.targets__row-2 {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-around;
}
.target-2-block__title {
  color: white;


  font-size: 80px;
}
.target-2-block__subtitle {
  color: white;

  font-size: 30px;
  text-align: center;
}
.target-3-block {
  background-color: rgb(255, 0, 157);
  display: flex;
  border: white 2px solid;

  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 500px;
  height: 500px;
}
.target-3-desc {
  color: rgb(228, 228, 228);
  display: flex;
  align-items: center;
  font-size: 25px;
  font-weight: bold;
  width: 500px;
  height: 500px;
}
.targets__row-3 {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.target-3-block__title {
  color: white;


  font-size: 80px;
}
.target-3-block__subtitle {
  color: white;

  font-size: 30px;
  text-align: center;
}
.target-4-block {
  background-color: rgb(255, 0, 157);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: white 2px solid;

  width: 500px;
  height: 500px;
}
.target-4-desc {
  color: rgb(228, 228, 228);
  display: flex;
  align-items: center;
  font-size: 25px;
  font-weight: bold;
  width: 500px;
  height: 500px;
}
.targets__row-4 {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-around;
}
.target-4-block__title {
  color: white;

  font-size: 80px;
}
.target-4-block__subtitle {
  font-size: 30px;
  text-align: center;
  color: white;

}

object {
  margin-left: 290px;
}
