@media screen and (max-width: 1000px) {
    /* .navigation-links{
    display: none;
    }
    .navigation-logo{
        display: none;
    } */
    .navigation-links{
        position: absolute;
        top: 70px;
        left: -100%;
    }
}