

.container-info__our-advantages {
    /* top:1000px; */
    top: 750px;
    position: relative;
    width: 100%;
    height: 900px;
    background-image: url(https://wallpaperaccess.com/full/4605319.jpg);
    background-size:cover;
  }
  .our-advantages__title {
    padding-top: 100px;
    display: flex;
    justify-content: center;
    font-size: 75px;
    color: rgb(255, 0, 157);
  }
  .our-advantage__ul {
    font-size: 30px;
    list-style: none;
  }
  .our-advantage__ul-li {
    padding-top: 70px;
    color: #a11adf;
    font-weight: bold;
  }
  .our-advantage__ul-li:before {
    margin-top: 15px;
    position: absolute;
    width: 9px;
    height: 9px;
    border-radius: 50%;
    background: #4f5151;
    content: "";
    left: 0;
    transition: 0.3s ease-in-out;
  }
  .our-advantage__ul-li:after {
    position: absolute;
    border-left: 1px dotted #4f5151;
    width: 1px;
    bottom: -12px;
    content: "";
    left: 3px;
  }
  .our-advantage__ul-li:hover:before {
    box-shadow: 0 0 0 10px rgba(0, 0, 0, 0.2);
  }
  .our-advantage__ul-li:last-child:after {
    content: none;
  }
  .our-advantage__div-img{
    width:50%;
    height: 50%;
    margin-left: 19%;
    display: flex;
    
  }
  .our-advantage__img {

    display: flex;
     height: 650px;
    width: 650px;   

  }
  .block__line-our-advantage {
    display: flex;
    flex-direction: row;
  }